.name {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	text-align: center;
	font-size: 48px;
}

.description {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	text-align: center;
	font-size: 24px;
}
.social {
	vertical-align: baseline;
	float: right;
	background-repeat: no-repeat;
   	height: 48px;
	width: 48px;
}